@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: koulen, cursive;
    color: aliceblue;
}
h1 {
    font-size: 48px;
    border-bottom: 5px solid red;
    text-align: center;
    margin-bottom: 20px;
}
#instructions {
    padding: 30px;
    border-radius: 15%;
    background-color: rgb(47, 45, 45);
    text-align: center;
    border: red solid 2px;
}
#instructions h2 {
    color: yellow;
    font-weight: bold;
    font-size: 30px;
}
#instructions p {
    font-size: 28px;
}
#startButton {
    padding: 5px;
    border-radius: 15%;
    background-color: yellow;
    color: black;
    border: black solid 2px;
}
#startButton:hover {
    color: red;
}
#submitButton{
    padding: 5px;
    border-radius: 15%;
    background-color: yellow;
    color: black;
    border: black solid 2px;
}
#scoreButton {
    padding: 5px;;
    border-radius: 15%;
    background-color: yellow;
    color: black;
    border: black solid 2px;
}
#scoreButton:hover{
    color: red;
}
#quizBox {
    padding: 30px;
    border-radius: 15%;
    background-color: rgb(47, 45, 45);
    text-align: center;
    border: red solid 2px;
    display: none;
    width: auto;
}
#question {
    font-size: 32px;
    color: yellow;
}
#choices ul{
    list-style-type: none;
} 
#choices ul li {
    font-size: 28px;
}
#rightAnswer {
    display: none;
    color: lightgreen;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}
#wrongAnswer {
    display: none;
    color: red;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

#nextButton{
    padding: 5px;
    border-radius: 15%;
    background-color: yellow;
    color: black;
    border: black solid 2px;


}


    
